#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.logoImg-admin{
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.layout-text{
  color: #ffff;
  margin-left: 5px;
}
.layout{
  &__back{
    display: flex !important; 
    align-items: center !important;
    cursor: pointer;
  }
  &__back:hover {
    opacity: 0.7;
  }
}

@media(max-width: 768px) {
  .ant-layout-sider-collapsed {
    display: none
  }
}